<template>
    <div>
        <div class="Container main">
            <div class="tables">
                <div class="row justify-content-center">
                    <div class="col-md mb-2 text-center">
                        <div class="btn-group">
                            <router-link class="nav-link  btn btn-outline-dark" :to="{ name : 'admin' }">Pagrindinis</router-link>
                        </div>
                    </div>
                    <div class="col-md mb-2 text-center">
                        <div class="btn-group">
                            <router-link class="nav-link  btn btn-outline-dark" :to="{ name : 'adminUsers' }">Vartotojei</router-link>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu extends">
                                <router-link class="nav-link  btn btn-outline-light" :to="{ name : 'postUser' }">Įkelti naują</router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mb-2 text-center">
                        <div class="btn-group">
                            <router-link class="nav-link  btn btn-outline-dark" :to="{ name : 'adminFabrics' }">Audiniai</router-link>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu extends">
                                <router-link class="nav-link  btn btn-outline-light" :to="{ name : 'postFabric' }">Įkelti naują</router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mb-2 text-center">
                        <div class="btn-group">
                            <router-link class="nav-link  btn btn-outline-dark" :to="{ name : 'adminOrders' }">Užsakymai</router-link>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu extends">
                                <router-link class="nav-link  btn btn-outline-light mb-2" :to="{ name : 'groupedOrders' }">Sugrupiuoti</router-link>
                                <router-link class="nav-link  btn btn-outline-light mb-2" :to="{ name : 'postOrder' }">Įkelti naują</router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mb-2 text-center">
                        <div class="btn-group">
                            <router-link class="nav-link  btn btn-outline-dark" :to="{ name : 'adminShippers' }">Vairuotojei</router-link>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu extends">
                                <router-link class="nav-link  btn btn-outline-light" :to="{ name : 'postShipper' }">Įkelti naują</router-link>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "AdminDashboard"
    }
</script>

<style scoped>
    .main {
        padding-top: 20px;
    }
    .extends{
        padding: 15px;
        background-color: #343a40;
    }
</style>
