<template>
    <Layout>
        <div class="container">
            <br>
            <div class="filters">
                <h3 class="text-center mb-3"> Filters</h3>
                <div class="row justify-content-center">
                    <div class="col-md-2 ">
                        <input class="form-control text-center" placeholder="Name" v-model="filterName">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Type" v-model="filterType">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Width" v-model="filterWidth" >
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Color" v-model="filterColor" >
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Composition"  v-model="filterComposition">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Picture"  v-model="filterPicture">
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-4 text">
                        <input class="form-control text-center" placeholder="Cost From"  v-model="filterCostFrom">
                    </div>
                    <div class="col-md-4 text">
                        <input class="form-control text-center" placeholder="Cost To"  v-model="filterCostTo">
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-4 text">
                        <input class="form-control text-center" placeholder="Meters left from"  v-model="filterMetersLeftFrom">
                    </div>
                    <div class="col-md-4 text">
                        <input class="form-control text-center" placeholder="Meters left to"  v-model="filterMetersLeftTo">
                    </div>
                </div>
            </div>
            <br>
            <Table :filteredFabric="filteredFabrics" @passData="handleSelectItem" @passId="deleteFabric"></Table>
        </div>
        <div class="modal fade" id="fabricModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Name:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Name" v-model="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Type:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="E-mail" v-model="type">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Width:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Meters" v-model="width">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Cost:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Phone number" v-model="cost">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Meters left:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="m." v-model="meters_left">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Color:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Phone number" v-model="color">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Composition:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Phone number" v-model="composition">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Comment:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Phone number" v-model="comment">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" >Picture:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Phone number" v-model="picture">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateClient">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
    import Table from "./Tables/FabricTable"
    import Layout from './AdminDashboard'
    export default {
        name: "Fabrics",
        components: {
            Layout, Table
        },
        data: function () {
            return{
                fabrics: [],
                fabricId: null,
                name: null,
                type: null,
                width: null,
                color: null,
                cost: null,
                composition: null,
                comment: null,
                picture: null,
                meters_left: null,
                filterName: "",
                filterType: "",
                filterWidth: "",
                filterColor: "",
                filterCostFrom: "",
                filterCostTo: "",
                filterMetersLeftFrom: "",
                filterMetersLeftTo: "",
                filterComposition: "",
                filterComment: "",
                filterPicture: ""
            }
        },
        computed: {
            filteredFabrics: function(){
                const app = this;
                let fromPrice = app.filterCostFrom;
                let toPrice = app.filterCostTo;
                let fromMeters = app.filterMetersLeftFrom;
                let toMeters = app.filterMetersLeftTo;
                let filter;
                return this.fabrics.filter(function (fabric) {
                    if (app.filterCostFrom === "") {
                        fromPrice = 0;
                    }
                    if (app.filterCostTo === "") {
                        toPrice = 1000;
                    }
                    if (app.filterMetersLeftFrom === "") {
                        fromMeters = 0;
                    }
                    if (app.filterMetersLeftTo === "") {
                        toMeters = 1000;
                    }
                    filter = fabric ? fabric.name.match(app.filterName) && fabric.type.match(app.filterType) && fabric.width.match(app.filterWidth) &&
                        fabric.color.match(app.filterColor) && fabric.composition.match(app.filterComposition) && fabric.photo.match(app.filterPicture) &&
                        parseFloat(fromMeters).toFixed(2) <= parseFloat(fabric.meters_left) && parseFloat(fabric.meters_left) <= parseFloat(toMeters).toFixed(2) &&
                        parseFloat(fromPrice).toFixed(2) <= parseFloat(fabric.cost) && parseFloat(fabric.cost) <= parseFloat(toPrice).toFixed(2): null;
                    return filter;
                });
            }
        },
        methods: {
            getFabric(){
                const app = this;
                axios.get('../api/fabric/all')
                    .then(function (response) {
                        app.fabrics = response.data;
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            },
            async handleSelectItem(fabric){
                this.fabricId = fabric.id;
                this.name = fabric.name;
                this.type = fabric.type;
                this.width = fabric.width;
                this.color = fabric.color;
                this.cost = fabric.cost;
                this.meters_left = fabric.meters_left;
                this.composition = fabric.composition;
                this.comment = fabric.comment;
                this.picture = fabric.photo;
                console.log(fabric.id);
            },
            updateClient() {
                const app = this;
                let id = this.fabricId;
                axios.put('../api/fabric/'+id, {
                    name: this.name,
                    type: this.type,
                    width: this.width,
                    cost: this.cost,
                    meters_left: this.meters_left,
                    color: this.color,
                    composition: this.composition,
                    comment: this.comment,
                    photo: this.picture
                })
                    .then(response => {
                        app.$swal.fire({
                            type: 'success',
                            title: 'Atnaujinta',
                        });
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getFabric();
            },
            deleteFabric(id){
                axios.delete('../api/fabric/'+ id)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getFabric();
            }
        },
        created() {
            this.getFabric();
        }
    }
</script>

<style scoped>
    .filters{
        border-top-style: solid;
        padding: 20px;
    }
    .form-control{
        border-color: #343a40;
    }
    .form-control:focus {
        border-color: #343a40;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 58, 64, 0.6);
    }
</style>
