<template>
    <Layout>
        <div class="container">
            <br>
            <div class="filters">
                <h3 class="text-center mb-3"> Filters</h3>
                <div class="row row justify-content-center">
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Order date" v-model="filterOrderData">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Delivery date" v-model="filterDeliveryData">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Quantity" v-model="filterQuantity" >
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="State" v-model="filterState" >
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Total price" v-model="filterTotalPrice" >
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="User" v-model="filterUser" >
                    </div>

                </div>
            </div>
            <br>
            <Table :filteredOrders="filteredOrders" @passData="handleSelectItem" @passOrderDelivery="confirmDelivery"></Table>

            <div class="modal fade" id="productsModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row product">
                                <div class="col-md">
                                    <label>Order date</label>
                                    <input class="form-control" placeholder="" v-model="modalOrderDate">
                                </div>
                                <div class="col-md">
                                    <label>Delivery date</label>
                                    <input class="form-control" placeholder="" v-model="modalDeliveryDate">
                                </div>
                            </div>
                            <div v-for="i in modalData.orders" class="product">
                                <div class="form-group">
                                    <label>Fabric id</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model="i.fabric_id"
                                               @change="changePrice(i.meters , i.fabric_id, i.id)">
                                        <div class="input-group-append">
                                            <button type="button"
                                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                    data-toggle="dropdown" @click="showFabricData(i.fabric_id)">
                                            </button>
                                            <div class="dropdown-menu text-center">
                                                <p><img class="img-fluid" :src="getPic(fabric.photo)"></p>
                                                <p>Name: {{fabric.name}}</p>
                                                <p>Type: {{fabric.type}}</p>
                                                <p>Width: {{fabric.width}}</p>
                                                <p>Cost: {{fabric.cost}}</p>
                                                <p>Color: {{fabric.color}}</p>
                                                <p>Composition: {{fabric.composition}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Meters</label>
                                    <input class="form-control" placeholder="" v-model="i.meters"
                                           @change="changePrice(i.meters , i.fabric_id, i.id)">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" placeholder="" v-model="i.price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-form-label" >Order state:</label>
                                <div class="col-sm-9">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0" v-model="modalState">
                                        <label class="form-check-label">Waiting for delivery</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" v-model="modalState">
                                        <label class="form-check-label">Being delivered</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="2" v-model="modalState">
                                        <label class="form-check-label">Delivered</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="3" v-model="modalState">
                                        <label class="form-check-label">Cancelled</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Shipper</label>
                                <select class="form-control" v-model="shipper">
                                    <option v-for="driver in shippers">{{driver.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="getOrders">Close</button>
                            <button type="button" class="btn btn-primary" @click="updateFullOrder">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </Layout>
</template>

<script>
    import Layout from './AdminDashboard'
    import Table from "./Tables/GroupedOrdersTable";
    export default {
        name: "GroupedOrders",
        components: {
            Layout, Table
        },
        data: function() {
            return {
                orders: [],
                modalData: [],
                modalOrderDate: null,
                modalDeliveryDate: null,
                modalState: null,
                shipper: "",
                shippers: [],
                fabric : [],
                filterOrderData: "",
                filterDeliveryData: "",
                filterUser: "",
                filterTotalPrice: "",
                filterState: "",
                filterQuantity: "",
            }
        },
        computed: {
            filteredOrders: function(){
                const app = this;
                let fromPrice = app.filterPriceFrom;
                let toPrice = app.filterPriceTo;
                let filter;
                return this.orders.filter(function (order) {
                    if (app.filterPriceFrom === "") {
                        fromPrice = 0;
                    }
                    if (app.filterPriceTo === "") {
                        toPrice = Math.max(order.price);
                    }
                    filter = order ? order.orderDate.match(app.filterOrderData) && order.deliveryDate.match(app.filterDeliveryData) && String(order.user).match(app.filterUser) &&
                        String(order.totalPrice).match(app.filterTotalPrice) &&  String(order.state).match(app.filterState) && String(order.quantity).match(app.filterQuantity): null;
                    return filter;
                });
            }
        },
        methods: {
            getOrders: function() {
                const app = this;
                axios.get('../api/order/group')
                    .then(function (response) {
                        app.orders = response.data;
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
                axios.get('../api/shipper/all')
                    .then(function (response) {
                        app.shippers = response.data;
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            async handleSelectItem(order){
                const app = this;
                this.modalData = order;
                this.modalOrderDate = order.orders[0].order_date;
                this.modalDeliveryDate = order.orders[0].delivery_date;
                this.modalState = order.orders[0].state;
                axios.get('../api/shipper/' + order.orders[0].shipper_id)
                    .then(function (response) {
                        app.shipper = response.data.name;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            confirmDelivery(order){
                let id = order.id;
                axios.put('../api/order/confirm', {
                    order: order,
                })
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error.response);
                    });
                this.getOrders();
            },
            showFabricData(id){
                const app = this;
                axios.get('../api/fabric/' + id)
                    .then(response => {
                        console.log(response.data);
                        app.fabric = response.data;
                    })
                    .catch(error => {
                        console.log(error.response);
                    });
            },
            getPic(item) {
                return '/images/' + item;
            },
            changePrice(meters,fabricId, orderId){
                const app = this;
                axios.get('../api/fabric/' + fabricId)
                    .then(response => {
                        app.modalData.orders.forEach(function(element){
                            if(element.id == orderId){
                                element.price = (meters * response.data.cost).toFixed(2);
                            }
                        });
                    })
                    .catch(error => {
                        console.log(error.response);
                    });
            },
            updateFullOrder(){
                const app = this;
                axios.post('../api/order/update' , {
                    order: app.modalData,
                    orderDate: app.modalOrderDate,
                    deliveryDate: app.modalDeliveryDate,
                    state: app.modalState,
                    shipper: app.shipper
                })
                    .then(response => {
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        created() {
            this.getOrders();
        }
    }
</script>

<style scoped>
    .filters{
        border-top-style: solid;
        padding: 20px;
    }
    .form-control{
        border-color: #343a40;
    }
    .form-control:focus {
        border-color: #343a40;
        box-shadow: none;
    }
    .product{
        border-bottom-style: solid;
        padding: 20px;
    }
    .img-fluid{
        width: 100px;
        height: 100px;
    }

</style>
