<template>
    <Layout>
        <div class="container">
            <br>
            <div class="filters">
                <h3 class="text-center mb-3"> Filters</h3>
                <div class="row row justify-content-center">
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Delivery date" v-model="filterDeliveryData">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Meters" v-model="filterMeters">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="User" v-model="filterUser" >
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Fabric"  v-model="filterFabric">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Price from" v-model="filterPriceFrom">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Price To" v-model="filterPriceTo">
                    </div>
                </div>
            </div>
            <br>
            <Table :filteredOrders="filteredOrders" @passData="handleSelectItem" @passId="deleteOrder" @passOrderDelivery="confirmDelivery"></Table>
            <div class="modal fade" id="orderModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Order date:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Order Date" v-model="orderDate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Delivery date:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Delivery Date" v-model="deliveryDate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Meters:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Meters" v-model="meters" @change="changePrice()">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Price:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Price" v-model="price">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >User:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="User" v-model="user">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Fabric:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Fabric" v-model="fabric"  @change="changeFabric()">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Shipper:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Shipper" v-model="shipper">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >State:</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0" v-model="state">
                                            <label class="form-check-label">Waiting for delivery</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" v-model="state">
                                            <label class="form-check-label">Being delivered</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="2" v-model="state">
                                            <label class="form-check-label">Delivered</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="3" v-model="state">
                                            <label class="form-check-label">Cancelled</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="updateOrder()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
    import Table from "./Tables/OrderTable";
    import Layout from './AdminDashboard'
    export default {
        name: "OrderTable",
        components: {
            Layout, Table
        },
        data: function () {
            return {
                orders: [],
                orderid: null,
                orderDate: null,
                deliveryDate: null,
                meters: null,
                price: null,
                user: null,
                fabric: null,
                shipper: null,
                state: null,
                filterMeters: "",
                filterDeliveryData: "",
                filterUser: "",
                filterFabric: "",
                filterPriceFrom: "",
                filterPriceTo: "",
                selectedFabric: null
            }
        },
        computed: {
            filteredOrders: function(){
                const app = this;
                let fromPrice = app.filterPriceFrom;
                let toPrice = app.filterPriceTo;
                let filter;
                return this.orders.filter(function (order) {
                    if (app.filterPriceFrom === "") {
                        fromPrice = 0;
                    }
                    if (app.filterPriceTo === "") {
                        toPrice = Math.max(order.price);
                    }
                    filter = order ? order.meters.match(app.filterMeters) && order.delivery_date.match(app.filterDeliveryData) && String(order.user_id).match(app.filterUser) &&
                        String(order.fabric_id).match(app.filterFabric) &&  parseFloat(fromPrice).toFixed(2) <= parseFloat(order.price) &&
                        parseFloat(order.price) <= parseFloat(toPrice).toFixed(2): null;
                    return filter;
                });
            }
        },
        methods: {
            getOrders: function() {
                const app = this;
                axios.get('../api/order/all')
                    .then(function (response) {
                        app.orders = response.data;
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            },
            async handleSelectItem(order){
                const app = this;
                try {
                    const response = await axios.get('../api/fabric/'+ order.fabric_id);
                    app.selectedFabric = response.data;
                } catch (error) {
                    console.error(error);
                }
                this.orderid = order.id;
                this.orderDate = order.order_date;
                this.deliveryDate = order.delivery_date;
                this.meters = order.meters;
                this.state = order.state;
                this.price = order.price;
                this.user = order.user_id;
                this.fabric = order.fabric_id;
                this.shipper = order.shipper_id;
                if(order.state == 0){
                    this.delivered = 0;
                }
                else if (order.state == 1){
                    this.delivered = 1;
                }
                else if (order.state == 2){
                    this.delivered = 2;
                }
                else if (order.state == 3){
                    this.delivered = 3;
                }
                else {
                    this.delivered = null;
                }
                console.log(order.id);
            },
            changePrice(){
                this.price = this.meters * this.selectedFabric['cost'];
            },
            async changeFabric(){
                const app = this;
                try {
                    const response = await axios.get('../api/fabric/'+ this.fabric);
                    app.selectedFabric = response.data;
                    app.changePrice();
                    console.log(app.selectedFabric['cost']);
                } catch (error) {
                    console.error(error);
                }

            },
            confirmDelivery(order){
                let id = order.id;
                console.log('id '+ id);
                axios.put('../api/order/'+id, {
                    state: 1,
                })
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getOrders();
            },
            updateOrder(){
                let id = this.orderid;
                axios.put('../api/order/'+id, {
                    order_date: this.orderDate,
                    delivery_date: this.deliveryDate,
                    state: this.state,
                    price: this.price,
                    meters: this.meters,
                    user_id: this.user,
                    fabric_id: this.fabric,
                    shipper_id: this.shipper
                })
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getOrders();
            },
            deleteOrder(id){
                axios.delete('../api/order/'+ id)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getOrders();
            },

        },
        created() {
            axios.get('../api/order/all')
                .then(response => {
                    console.log(response.data);
                }, error => {
                    console.log(error);
                });
            this.getOrders();
        }
    }
</script>

<style scoped>
    .filters{
        border-top-style: solid;
        padding: 20px;
    }
    .form-control{
        border-color: #343a40;
    }
    .form-control:focus {
        border-color: #343a40;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 58, 64, 0.6);
    }
</style>
