<template>
    <Layout>

    </Layout>
</template>

<script>
    import Layout from './AdminDashboard'
    export default {
        name: "PostShipper",
        components: {
            Layout
        },
    }
</script>

<style scoped>

</style>
