<template>
    <Layout>
        <div class="container">
            <br>
            <div class="posts">
                <h3 class="text-center"> Įkelti naują užsakymą </h3>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Order date</label>
                        <input type="date" class="form-control" v-model="orderDate">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Delivery date</label>
                        <input type="date" class="form-control" v-model="deliveryDate">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>User</label>
                        <select class="form-control" v-model="user">
                            <option v-for="user in users"> {{user.id}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Shipper</label>
                        <select class="form-control" v-model="shipper">
                            <option v-for="shipper in shippers"> {{shipper.id}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label>Fabric id</label>
                        <select class="form-control" v-model="fabric" @change="changePrice()">
                            <option v-for="fabric in fabrics"> {{fabric.id}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md">
                        <label>Fabric meters</label>
                        <input class="form-control" v-model="meters" @change="changePrice()">
                        <small class="text-secondary">Must contain only numbers</small>
                    </div>
                    <div class="form-group col-md">
                        <label>Fabric price</label>
                        <input class="form-control" v-model="cost">
                        <small class="text-secondary">Must contain only numbers</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <div><label>State: </label></div>
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" value="0" v-model="state">
                            <label class="form-check-label" >Waiting</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" v-model="state">
                            <label class="form-check-label">Being delivered</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="2" v-model="state">
                            <label class="form-check-label">Delivered</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="3" v-model="state">
                            <label class="form-check-label">Cancelled</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" @click.prevent="postOrders">Post</button>
            </form>
        </div>
    </Layout>
</template>

<script>
    import Layout from './AdminDashboard'
    export default {
        name: "PostOrder",
        components: {
            Layout
        },
        data: function() {
            return {
                orderDate: null,
                deliveryDate: null,
                user: null,
                shipper: null,
                fabric: null,
                meters: null,
                cost: null,
                state: 0,
                users: [],
                shippers: [],
                fabrics: [],
            }
        },
        methods: {
            getUsers(){
                const app = this;
                axios.get('../api/user/all')
                    .then(function (response) {
                        app.users = response.data;
                    })
            },
            getShippers(){
                const app = this;
                axios.get('../api/shipper/all')
                    .then(function (response) {
                        app.shippers = response.data;
                    })
            },
            getFabrics(){
                const app = this;
                axios.get('../api/fabric/all')
                    .then(function (response) {
                        app.fabrics = response.data;
                    })
            },
            postOrders(){
                const app = this;
                axios.post('../api/order/post', {
                    order_date: this.orderDate,
                    delivery_date: this.deliveryDate,
                    state: this.state,
                    price: this.cost,
                    meters: this.meters,
                    user_id: this.user,
                    fabric_id: this.fabric,
                    shipper_id: this.shipper,
                    delivered: 0,
                    quantity: 1,
                })
                    .then(function (response) {
                        console.log("success");
                        console.log(response);
                        // app.orderDate = null;
                        // app.deliveryDate = null;
                        app.user = null;
                        app.shipper = null;
                        app.fabric = null;
                        app.meters = null;
                        app.cost = null;
                        // app.state = 0;
                        app.$swal.fire({
                            type: 'success',
                            title: 'Sukurta',
                        });
                    })
            },
            changePrice(){
                const app = this;
                let price = 0;
                axios.get('../api/fabric/' + this.fabric)
                    .then(function (response) {
                        price = response.data.cost;
                        app.cost = app.meters * price;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });

            },
        },
        created() {
            this.getUsers();
            this.getShippers();
            this.getFabrics();
        }
    }
</script>

<style scoped>
    input, textarea{
        box-shadow: none !important;
    }
    .posts{
        border-top-style: solid;
        padding: 20px;
    }
</style>
