<template>
    <Layout>
        <div class="container">
            <br>
            <div class="posts">
                <h3 class="text-center"> Įkelti naują vartotoją </h3>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Name</label>
                        <input class="form-control" v-model="name">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="email">
                        <small class="text-secondary">Must contain valid Email</small>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Password</label>
                        <input type="password" class="form-control" v-model="password">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Address</label>
                        <input class="form-control" v-model="address">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input class="form-control" v-model="phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div><label>Make Admin: </label></div>
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" value="2" v-model="role">
                            <label class="form-check-label" >Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" v-model="role">
                            <label class="form-check-label">No</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div><label>Verify Email: </label></div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" v-model="verify">
                            <label class="form-check-label" >Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="0" v-model="verify">
                            <label class="form-check-label">No</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" @click.prevent="postUser">Post</button>
            </form>
        </div>
    </Layout>
</template>

<script>
    import Layout from './AdminDashboard'
    export default {
        name: "PostUser",
        components: {
            Layout
        },
        data: function () {
            return{
                name: null,
                email: null,
                address: null,
                phone: null,
                password: null,
                role: '1',
                verify: '0'
            }
        },
        methods: {
            postUser(){
                var app = this;
                app.success = false;
                if(app.verify == "1"){
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();
                    today = yyyy + '-' + mm + '-' + dd;
                }
                else{
                    var today = null
                }
                axios.post('../api/user/post', {
                    name: this.name,
                    email: this.email,
                    address: this.address,
                    phone: this.phone,
                    password: this.password,
                    role: this.role,
                    email_verified_at: today
                })
                    .then(function (response) {
                        app.$swal.fire({
                            type: 'success',
                            title: 'Sukurta',
                        });
                        app.success = true;
                        app.name = null;
                        app.email = null;
                        app.address = null;
                        app.password = null;
                        app.phone = null;
                        app.role = '1';
                        app.verify = '1';
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },
        }
    }
</script>

<style scoped>
    input, textarea{
        box-shadow: none !important;
    }
    .posts{
        border-top-style: solid;
        padding: 20px;
    }
</style>
