<template>
    <Layout>
        <div class="container">
            <br>
            <div class="posts">
                <h3 class="text-center"> Įkelti naują audinį </h3>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input class="form-control" v-model="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Type</label>
                        <select class="form-control" v-model="type">
                            <option v-for="option in typeList"> {{option}} </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label>Width</label>
                        <input class="form-control" v-model="width">
                        <small class="text-secondary">Must contain only numbers</small>
                    </div>
                    <div class="form-group col-md">
                        <label>Cost</label>
                        <input class="form-control" v-model="cost">
                        <small class="text-secondary">Must contain only numbers</small>
                    </div>
                    <div class="form-group col-md">
                        <label>Meters</label>
                        <input class="form-control" v-model="meters_left">
                        <small class="text-secondary">Must contain only numbers</small>
                    </div>
                    <div class="form-group col-md">
                        <label>Color</label>
                        <input class="form-control" v-model="color">
                    </div>
                    <div class="form-group col-md">
                        <label>Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" v-on:change="fileChange">
                            <label class="custom-file-label">
                                {{image}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Composition</label>
                        <textarea class="form-control" v-model="composition"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Comment</label>
                        <textarea class="form-control" v-model="comment"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" @click.prevent="postFabric">Post</button>
            </form>
        </div>
    </Layout>
</template>

<script>
    import Layout from './AdminDashboard'
    export default {
        name: "PostFabric",
        components: {
            Layout
        },
        data: function(){
            return{
                errors: [],
                success: false,
                typeList: this.typeAllList(),
                image: "",
                name: null,
                type: null,
                width: null,
                cost: null,
                meters_left: null,
                color: null,
                composition: null,
                comment: null
            }
        },
        methods: {
            typeAllList(){
                return ["Acetatas", "Akrilas", "Džinsas", "Kašmyras", "Medvlinė", "Šilkas"];
            },
            postFabric(){
                var app = this;
                app.success = false;
                axios.post('../api/fabric/post', {
                    name: app.name,
                    type: app.type,
                    width: app.width,
                    cost: app.width,
                    meters_left: app.meters_left,
                    color: app.color,
                    composition: app.composition,
                    comment: app.comment,
                    photo: app.image
                })
                    .then(function (response) {
                        app.$swal.fire({
                            type: 'success',
                            title: 'Įkelta',
                        });
                        app.success = true;
                        app.name = null;
                        app.type = null;
                        app.width = null;
                        app.cost = null;
                        app.meters_left = null;
                        app.color = null;
                        app.composition = null;
                        app.comment = null;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },
            closeSuccess(){
                this.success = false
            },
            fileChange(e){
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file){
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
    }
</script>

<style scoped>
    input, textarea{
        box-shadow: none !important;
    }
    .posts{
        border-top-style: solid;
        padding: 20px;
    }
</style>
