<template>
    <Layout>
        <div class="container">
            <br>
            <div class="filters">
                <h3 class="text-center mb-3"> Filters</h3>
                <div class="row justify-content-center">
                    <div class="col-md-2 ">
                        <input class="form-control text-center" placeholder="Name" v-model="filterName">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Surname" v-model="filterSurname">
                    </div>
                    <div class="col-md-2 text">
                        <input class="form-control text-center" placeholder="Phone number" v-model="filterPhone" >
                    </div>
                </div>
            </div>
            <br>
            <Table :filteredShipper="filteredShippers" @passData="handleSelectItem" @passId="deleteShipper"></Table>
            <div class="modal fade" id="shipperModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Shipper</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Name:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Name" v-model="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Surname:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Surname" v-model="surname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Phone:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Phone" v-model="phone">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="updateShipper()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
    import Table from "./Tables/ShipperTable";
    import Layout from './AdminDashboard'
    export default {
        name: "Shippers",
        components: {
            Layout, Table
        },
        data: function () {
            return{
                shippers: [],
                shipperId: null,
                name: null,
                surname: null,
                phone: null,
                filterName: "",
                filterSurname: "",
                filterPhone: ""
            }
        },
        computed: {
            filteredShippers: function () {
                const app = this;
                let filter;
                return this.shippers.filter(function (shipper) {
                    filter = shipper ? shipper.name.match(app.filterName) && shipper.surname.match(app.filterSurname) && shipper.phone.match(app.filterPhone) : null;
                    return filter;
                });
            }
        },
        methods: {
            getShipper(){
                const app = this;
                axios.get('../api/shipper/all')
                    .then(function (response) {
                        app.shippers = response.data;
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            },
            async handleSelectItem(shipper){
                this.shipperId = shipper.id;
                this.name = shipper.name;
                this.surname = shipper.surname;
                this.phone = shipper.phone;
                console.log(shipper.id);
            },
            updateShipper() {
                let id = this.shipperId;
                axios.put('../api/shipper/'+id, {
                    name: this.name,
                    surname: this.surname,
                    phone: this.phone,
                })
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getShipper();
            },
            deleteShipper(id){
                axios.delete('../api/shipper/'+ id)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getShipper();
            }
        },
        created() {
            this.getShipper();
        }
    }
</script>

<style scoped>
    .filters{
        border-top-style: solid;
        padding: 20px;
    }
    .form-control{
        border-color: #343a40;
    }
    .form-control:focus {
        border-color: #343a40;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 58, 64, 0.6);
    }
</style>
