<template>
    <Layout>
        <div class="container">
            <br>
            <div class="filters">
                <h3 class="text-center mb-3"> Filters</h3>
                <div class="row justify-content-center">
                    <div class="col-md-3 text">
                        <input class="form-control text-center" placeholder="Name" v-model="filterName">
                    </div>
                    <div class="col-md-3 text">
                        <input class="form-control text-center" placeholder="E-mail" v-model="filterEmail">
                    </div>
                    <div class="col-md-3 text">
                        <input class="form-control text-center" placeholder="Address" v-model="filterAddress" >
                    </div>
                    <div class="col-md-3 text">
                        <input class="form-control text-center" placeholder="Phone number"  v-model="filterPhone">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <Table :filteredUsers="filteredUsers" @passData="handleSelectItem" @passId="deleteUser"></Table>
            <div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Name:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Name" v-model="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >E-mail:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="E-mail" v-model="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Address:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Meters" v-model="address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Phone:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Phone number" v-model="phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" >Admin:</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" v-model="role">
                                            <label class="form-check-label">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" v-model="role">
                                            <label class="form-check-label">No</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="updateUser()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
    import Table from "./Tables/UserTable";
    import Layout from './AdminDashboard'
    export default {
        name: "Users",
        data: function(){
            return{
                clients: [],
                clientId: null,
                name: null,
                email: null,
                address: null,
                phone: null,
                role: null,
                filterName: "",
                filterEmail: "",
                filterAddress: "",
                filterPhone: ""
            }
        },
        components: {
            Layout, Table
        },
        computed: {
            filteredUsers: function () {
                var filter;
                var app = this;
                return this.clients.filter(function (user) {
                    filter = user ? user.name.match(app.filterName) && user.email.match(app.filterEmail) && user.address.match(app.filterAddress) && user.phone.match(app.filterPhone) : null;
                    return filter;
                })
            }
        },
        methods: {
            getUsers(){

                const app = this;
                this.$http({
                    url: `user/all`,
                    method: 'GET'
                })
                    .then((response) => {
                        console.log(response);
                        app.clients = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            async handleSelectItem(user){
                this.clientId = user.id;
                this.name = user.name;
                this.email = user.email;
                this.address = user.address;
                this.phone = user.phone;
                if(user.role == 2){
                    this.role = "2";
                }
                else{
                    this.role = "1";
                }
                console.log(user.id);
            },
            updateUser(){
                let id = this.clientId;
                axios.put('../api/user/'+id, {
                    name: this.name,
                    email: this.email,
                    address: this.address,
                    phone: this.phone,
                    role: this.role
                })
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getUsers();
            },
            deleteUser(id){
                axios.delete('../api/user/'+ id)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                this.getUsers();
            }
        },
        created() {
            this.getUsers();
        }
    }
</script>

<style scoped>
    .filters{
        border-top-style: solid;
        padding: 20px;
    }
    .form-control{
        border-color: #343a40;
    }
    .form-control:focus {
        border-color: #343a40;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 58, 64, 0.6);
    }
</style>
