<template>
    <div class="container-fluid">
        <br>
        <div class="alert alert-danger text-center" role="alert" v-if="noCart == true"> Nėra prekiu </div>
        <div class="alert alert-warning text-center" role="alert" v-if="loged == false"> Norint užsisakyti reikia prisijungti
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="closeAlert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <table class="table table-striped" v-if="noCart != true">
            <thead>
            <tr>
                <th style="width: 5%" class="text-center">Audinys</th>
                <th style="width: 75%" ></th>
                <th style="width: 10%" class="text-center">Metrai</th>
                <th style="width: 10%" class="text-center">Kaina</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in cart.products">
                <td class="parent align-middle"><img class="rounded " :src="getPic(item)" alt="..." ></td>
                <td>
                    <div> {{item.name}} </div>
                        <button class="btn btn-link trash" @click="removeProduct(item)">Pašalinti <i class="fas fa-trash"></i></button>
                </td>
                <td class="text-center align-middle">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control text-center" placeholder="m." @change="changeMeters(item)" v-model="meters[item.id]">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">m.</span>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle"> {{item.cost}} <i class="fas fa-euro-sign"></i></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td><span class="font-weight-bold">Pilna kaina:</span></td>
                <td><span class="font-weight-bold"> {{cart.totalPrice}} <i class="fas fa-euro-sign"></i></span></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td class="align-middle"><span class="font-weight-bold">Atvežimo data:</span></td>
                <td><span class="font-weight-bold"> <input class="form-control" type="date" v-model="date"></span></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>
                    <button class="btn btn-light btn-block border font-weight-bold " @click="orderProducts">Užsisakyti <i class="fas fa-truck"></i></button>
                </td>
                <td> </td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
        name: "Cart",
        data: function () {
            return{
                errors: [],
                cart: [],
                meters: [],
                cartError: [],
                loged: null,
                noCart: null,
                date: null,
            }
        },
        methods: {
            getCart() {
                app = this;
                axios.get('../api/cart/getCart')
                    .then(function (response) {
                        console.log(response);
                        app.cart = response.data;
                        app.getMeters();
                        app.noCart = false;
                    })
                    .catch(function (error) {
                        console.log('error: ' + error.response.data.message);
                        app.errors = error.response;
                        if (error.response.status == 400) {
                            app.noCart = true;
                        }
                    });
            },
            getPic($item) {
                return '/images/' + $item['photo'];
            },
            orderProducts() {
                app = this;
                axios.post('../api/cart/order',{
                    date: app.date
                })
                    .then(function (response) {
                        console.log(response.data);
                        app.getCart();
                        app.$root.$emit('cartNumber');
                        app.$root.$emit('cartNumber');
                        app.$swal.fire({
                            type: 'success',
                            title: 'Užsakymas patvirtintas',
                        });
                    })
                    .catch(function (error) {
                        console.log(error.response);
                        app.cartError = error.response;
                        if (error.response.status === 500) {
                            if (error.response.data.message === "Neprisijunges"){
                                app.loged = false;
                            }
                            else if(error.response.data.message === "Netinkama data"){
                                app.$swal.fire({
                                    type: 'error',
                                    title: 'Netinkama data',
                                    text: 'Pasirinkite tinkama datą',
                                });
                            }
                        }
                        else if(error.response.status == 422) {
                            app.$swal.fire({
                                type: 'error',
                                title: 'Audinys neturi tiek metru',
                            });
                        }
                    });
            },
            getMeters() {
                var app = this;
                for (var item in app.cart.products) {
                    app.meters[item] = app.cart.products[item].meters;
                }
            },
            closeAlert() {
                this.loged = null;
            },
            changeMeters(item) {
                let fabric;
                let price;
                const lastMeters = this.cart.products[item.id].meters;
                const lastPrice = this.cart.products[item.id].cost;
                const lastTotalPrice = this.cart.totalPrice;
                const app = this;
                this.cart.totalPrice = 0;
                axios.get('../api/fabric/' + item.id)
                    .then(function (response) {
                        fabric = response.data;
                    })
                    .then(function () {
                        price = fabric.cost * parseFloat(app.meters[item.id]);
                        app.cart.products[item.id].cost = price;
                        app.cart.products[item.id].meters = app.meters[item.id];
                        for (var productId in app.cart.products) {
                            app.cart.totalPrice += app.cart.products[productId].cost;
                        }
                    })
                    .then(function () {
                        axios.put('../api/cart/update', {
                            order: app.cart.products[item.id]
                        })
                            .then(function (response) {
                                app.$swal.fire({
                                    type: 'success',
                                    title: 'Kaina ir metrai atnaujinti',
                                });
                            })
                            .catch(function (error) {
                                if(error.response.status == 422) {
                                    app.cart.products[item.id].cost = lastPrice;
                                    app.cart.products[item.id].meters = lastMeters;
                                    app.meters[item.id] = lastMeters;
                                    app.cart.totalPrice = lastTotalPrice;
                                    app.$swal.fire({
                                        type: 'error',
                                        title: 'Blogai suvesti metrai',
                                        text: 'Audinys neturi tiek metru arba blogai suvesti metrai'
                                    });
                                }
                                console.log(error);
                            });
                    })
            },
            removeProduct(item){
                let app = this;
                //this.$delete(this.cart.products, item.id);
                axios.delete('../api/cart/removeProduct/' + item.id)
                    .then(function (response) {
                        console.log(response);
                        app.$root.$emit('cartNumber');
                        app.$swal.fire({
                            type: 'success',
                            title: 'Prekė išimta',
                        });
                        app.getCart();
                    })
            }
        },

        created() {
            this.getCart();
        }
    }
</script>

<style scoped>
    .parent img {
        max-height: 100%;
        max-width: 100%;
    }
    .trash{
        color: gray !important;
        text-decoration: none !important;
    }
    .trash:hover{
        color: red !important;
        text-decoration: none !important;
    }
</style>
