<template>
    <div class="container">
        <div class="alert alert-warning text-center" role="alert" v-if="loginError == true"> Blogai suvesti duomenys
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="closeAlert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card">
            <div class="card-header text-center font-weight-bold">
                Prisijungimas
            </div>
            <div class="card-body" @submit.prevent="login" method="post">
                <form >
                    <small class="text-secondary">Jūsų Elektroninis paštas</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" title="" placeholder="El.Paštas" type="email" name="email" id="email" oninvalid="this.setCustomValidity('Prašau įveskite tinkama el-paštą')" oninput="setCustomValidity('')"
                         v-model="email">
                    </div>
                    <small class="text-secondary">Jūsų slaptažodis</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="Slaptažodis" type="password" name="password"
                               id="password" v-model="password" >
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-dark" type="submit"> Prisijungti </button>
                    </div>
                    <div class="form-group text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="/registracija" class="text-secondary" type="submit">Prisiregistruoti</a></li>
                            <li class="list-inline-item"><a href="" class="text-secondary">Pamiršote slaptažodi ?</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data: function(){
            return {
                email: null,
                password: null,
                has_error: false,
                loginError: false
            }
        },
        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect()
                var app = this
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function() {
                        // handle redirection
                        const redirectTo = redirect ? redirect.from.name : this.$auth.user().role === 2 ? 'admin' : 'profile';
                        this.$router.push({name: redirectTo});
                    },
                    error: function(res) {
                        app.has_error = true;
                        console.log(res.response);
                        if (res.response.status == 401){
                            app.loginError = true;
                        }
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            },
            closeAlert(){
                this.loginError = false;
            }
        }
    }
</script>

<style scoped>
    .card {
        width: 50%;
        margin: 0 auto;
        margin-top: 20%;
        float: none;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none !important;
    }
</style>
