<template>
    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid text-center">
                <h1 class="display-3 text-white jumbotron-text">Čia Rasite Viską</h1>
            </div>
        </div>
        <div>
            <h2 class="display-4 text-center name-text">Paslaugos</h2>
        </div>
        <div class="row justify-content-center ">
            <div class="row text-center justify-content-center">
                <div class="col-md-3 mb-3">
                    <img src="https://carolinadojo.com/wp-content/uploads/2017/04/default-image.jpg" alt="..."
                         class="rounded-circle mb-3">
                    <div>
                        <h3>El. Komercija</h3>
                    </div>
                    <div>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae enim impedit
                            ipsum laudantium, magni modi quam quas soluta vel.</small>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <img src="https://carolinadojo.com/wp-content/uploads/2017/04/default-image.jpg" alt="..."
                         class="rounded-circle mb-3">
                    <div>
                        <h3>Kokybiškos prekės</h3>
                    </div>
                    <div>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae enim impedit
                            ipsum laudantium, magni modi quam quas soluta vel.</small>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <img src="https://carolinadojo.com/wp-content/uploads/2017/04/default-image.jpg" alt="..."
                         class="rounded-circle mb-3">
                    <div>
                        <h3>El. Komercija</h3>
                    </div>
                    <div>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae enim impedit
                            ipsum laudantium, magni modi quam quas soluta vel.</small>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2 class="display-4 text-center name-text">Prekės</h2>
        </div>
        <div class="row justify-content-center" >
            <div class="col-lg-6 align-self-center">
                <div class="" style="text-align:left;margin:auto;width: 80%">
                    <h1 class="font-weight-bold text-uppercase">
                        Didelis audiniu pasirinkimas...
                    </h1>
                    <h4>
                        Audiniai is ivairiausiu pasaliu krastu, spalvu pasirinkimai atitikantys siuolaikine mada sadasdas ads dasd asdasdsad asdasdasdasdsa dasdasd asdasdadasd asd sadsadasds asdsadasdad as
                    </h4>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div>
                    <img src="images/Product1.png" class="rounded-circle" alt="Responsive image" style="width:400px;height:400px">
                </div>
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-lg-6 text-center">
                <div>
                    <img src="images/Product2.jpg" class="rounded-circle" alt="Responsive image" style="width:400px;height:400px">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="" style="text-align:left;margin:auto;width: 80%">
                    <h1 class="font-weight-bold text-uppercase">
                        Didelis audiniu pasirinkimas...
                    </h1>
                    <h4>
                        Audiniai is ivairiausiu pasaliu krastu, spalvu pasirinkimai atitikantys siuolaikine mada sadasdas ads dasd asdasdsad asdasdasdasdsa dasdasd asdasdadasd asd sadsadasds asdsadasdad as
                    </h4>
                </div>
            </div>
        </div>
        <div>
            <h2 class="display-4 text-center name-text">Kontaktai</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card w-75 mx-auto">
                    <div class="card-header">
                        <i class="fas fa-id-card"></i> Kontaktai
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>
                                Vardas: Jonas
                            </p>
                            <p>
                                Pavarde: Jonaitis
                            </p>
                            <p>
                                Tel. nr: 86xxxxxxx
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card w-75 mx-auto">
                    <div class="card-header">
                        <i class="fas fa-clock"></i> Darbo laikas
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>
                                I-V: 8-18h
                            </p>
                            <p>
                                VI: 8-16h
                            </p>
                            <p>
                                VII: -
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-scroll">
        </div>
    </div>
</template>

<script>
    import Layout from "./App";
    export default {
        components: {Layout},
        mounted() {
            console.log('Component mounted.');
        },
    }
</script>

<style scoped>
    .jumbotron {
        background:
            linear-gradient(
                rgba(0, 0, 0, 0.5) 0,
                rgba(0, 0, 0, 0.3) 50%,
                rgba(0, 0, 0, 0.1) 100%),
            url(https://www.britexfabrics.com/pub/media/wysiwyg/CAROSEL_2.jpg);
        background-attachment: fixed;
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .jumbotron-text{
        margin-top:10%;
    }
    .page-scroll {
        height: 5000px;
    }
    .rounded-circle{
        width:150px;
        height:150px;
    }
    .product-img{
        height: 500px;
        width: 950px;
    }
    /*.img-container{*/
    /*    position:relative;*/
    /*    display:inline-block;*/
    /*}*/
    /*.img-container .overlay{*/
    /*    position:absolute;*/
    /*    top:0;*/
    /*    left:0;*/
    /*    width:100%;*/
    /*    height:100%;*/
    /*    background:rgba(0,0,0, 0.5);*/
    /*    opacity:0;*/
    /*    transition:opacity 500ms ease-in-out;*/
    /*}*/
    /*.img-container:hover .overlay{*/
    /*    opacity:1;*/
    /*}*/
    /*.overlay span{*/
    /*    position:absolute;*/
    /*    top:50%;*/
    /*    left:50%;*/
    /*    transform:translate(-50%,-50%);*/
    /*    color:#fff;*/
    /*}*/
    .row{
        margin: auto;
    }
    .name-text{
        padding-top: 40px;
        padding-bottom: 100px;
    }
</style>
