<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li>
                        <a style=color:white; ><h4 id="companyName">Samogitia</h4></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name : 'home' }">Pradžia</router-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Susisiekimai</a>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name : 'products' }">Prekės</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-if="$auth.check()" :to="{ name : 'profile' }">{{ $auth.user().name }}</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-if="!$auth.check()" :to="{ name : 'login' }">Prisijungti</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-if="!$auth.check()" :to="{ name : 'register' }">Prisiregistruoti</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link"  v-if="$auth.check(2)" :to="{ name : 'admin'}"> Admin dashboard </router-link>
                    </li>
                    <li>
                        <router-link class="nav-link" :to="{ name : 'cart' }">{{totalProducts}} <i class="fas fa-shopping-cart"></i></router-link>
                    </li>
                    <li v-if="$auth.check()">
                        <a  class="nav-link" href="#" @click.prevent="$auth.logout()">Atsijungti</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar",
        data: function(){
            return{
                totalProducts: 0,
            }
        },
        methods: {
            getTotal(){
                var app = this;
                axios.get('../api/cart/getTotal')
                    .then(function (response) {
                        if(response.data == ""){
                            app.totalProducts = 0;
                        }
                        else{
                            app.totalProducts = response.data;
                        }
                    });
            },
        },
        created(){
            this.getTotal();
            console.log('hello');
            this.$root.$on('cartNumber' , () => {
                this.getTotal();
            });
        }
    }
</script>

<style scoped>
    #companyName {
        font-family: 'Lobster', cursive;
    }
</style>
