<template>
    <div>
        <div class="container">
            <div class="card-deck mt-4 justify-content-center" v-for="i in Math.ceil(fabrics.length / 3)">
                <div class="card" style="max-width: 500px;" v-for="item in fabrics.slice((i - 1) * 3, i * 3)">
                    <div class="card-image-element">
                        <img :src="getPic(item)" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Pavadinimas: {{item.name}}</p>
                        <p class="card-text">Tipas: {{item.type}}</p>
                        <p class="card-text">Spalva: {{item.color}}</p>
                        <p class="card-text">Ploti: {{item.width}}</p>
                        <p class="card-text">Kaina uz metra: {{item.cost}}</p>
                        <p class="card-text">Like metru: {{item.meters_left}} m.</p>
                        <div>
                            <small class="text-muted">
                                Įrašykite metrus
                            </small>
                        </div>
                        <div class="form-inline justify-content-center mb-4">
                            <input type="text" class="form-control w-25 rounded-0 shadow-none text-center"
                                   aria-label="Small" aria-describedby="inputGroup-sizing-sm" v-model="meters[item.id]">
                            <button class="btn btn-outline-danger rounded-0" type="submit" @click="postToCart(item.id)">
                                Įdėti į krepšeli
                            </button>
                        </div>
                        <p>
                            <button type="button" class="btn btn-outline-info">Daugiau informacijos</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    <!--                <div class="row no-gutters">-->
                    <!--                    <div class="col-md-4 d-flex align-items-center justify-content-center" >-->
                    <!--                        <img :src="getPic(item)" class="card-img" alt="..." >-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-8">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <p>Pavadinimas: {{item.name}}</p>-->
                    <!--                            <p>Tipas: {{item.type}}</p>-->
                    <!--                            <p>Spalva: {{item.color}}</p>-->
                    <!--                            <p>Plotis: {{item.width}}</p>-->
                    <!--                            <p>Kaina už metrą: {{item.cost}}</p>-->
                    <!--                            <p>Like metru: {{item.meters_left}} m.</p>-->
                    <!--                            <div>-->
                    <!--                                <small class="text-muted">-->
                    <!--                                    Įrašykite metrus-->
                    <!--                                </small>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-inline justify-content-center mb-4" >-->
                    <!--                                <input type="text" class="form-control w-25 rounded-0 shadow-none text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm" v-model="meters[item.id]">-->
                    <!--                                <button class="btn btn-outline-danger rounded-0" type="submit" @click="postToCart(item.id)">Įdėti į krepšeli</button>-->
                    <!--                            </div>-->
                    <!--                            <p>-->
                    <!--                                <button type="button" class="btn btn-outline-info">Daugiau informacijos</button>-->
                    <!--                            </p>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Products",
        data: function(){
            return{
                fabrics: [],
                meters: [],
                errors: [],
                status: null,
            }
        },
        methods: {
            getFabrics() {
                this.$http({
                    url: `fabric/all`,
                    method: 'GET'
                })
                    .then((res) => {
                        this.fabrics = res.data;
                    }, () => {

                    })
            },
            postToCart(id) {
                console.log(id);
                var app = this;
                axios.post('../api/cart/post', {
                    fabricId: id,
                    meters: this.meters[id]
                })
                    .then(function (response) {
                        console.log(response);
                        app.meters = [];
                        app.$swal.fire({
                            type: 'success',
                            title: 'Prekė įdėta',
                        });
                        app.$root.$emit('cartNumber');
                    })
                    .catch(function (error) {
                        if (error.response.status === 422) {
                            app.$swal.fire({
                                type: 'error',
                                title: 'Netinkamai suvesti duomenys'
                            });
                        }
                        console.log(error.response);
                    });
            },
            getPic(item) {
                return '/images/' + item['photo'];
            },
            test() {
                var app = this;
                axios.post('../api/cart/testPost', {
                    id: 1,
                    meters:10
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            }
        },
        created() {
            this.getFabrics();
        }
    }
</script>

<style scoped>
.card-image-element img{
    width: 100%;
    height: 230px;
}
</style>
