<template>
    <div class="container">
        <br>
        <table class="table">
            <thead>
            <tr class="text-center">
                <th scope="col">Užsakymo data</th>
                <th scope="col">Atvežimo data</th>
                <th scope="col">Audinių skaičius</th>
                <th scope="col">Pilna kaina</th>
                <th scope="col">Būsena</th>
                <th scope="col">Pilna informacija</th>
                <th scope="col">Atšaukti</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="order in orders">
                <td scope="col">{{order.orderDate}}</td>
                <td scope="col">{{order.deliveryDate}}</td>
                <td scope="col">{{order.quantity}}</td>
                <td scope="col">{{order.totalPrice}} <i class="fas fa-euro-sign"></i></td>
                <td scope="col">{{order.stateText}}</td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#fabricsModal" @click="passToModal(order.products)">Audiniai</button></td>
                <td>
                    <button class="btn btn-danger" v-if="order.state == 2 || order.state == 1" disabled>Atšaukti</button>
                    <button class="btn btn-danger" @click="cancelOrder(order)" v-else>Atšaukti</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="fabricsModal" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" >
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" >Prekės</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <table class="table table-borderless table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Pavadinimas</th>
                                <th scope="col">Tipas</th>
                                <th scope="col">Spalva</th>
                                <th scope="col">Plotis</th>
                                <th scope="col">Kaina/m</th>
                                <th scope="col">Sudėtis</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="fabric in fabrics">
                                <td>{{fabric.name}}</td>
                                <td>{{fabric.type}}</td>
                                <td>{{fabric.color}}</td>
                                <td>{{fabric.width}}</td>
                                <td>{{fabric.cost}}</td>
                                <td>{{fabric.composition}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždayti</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Profile",
        data: function () {
            return{
                orders: [],
                fabrics: [],
                error: [],
            }
        },
        methods: {
            getOrders(){
                const app = this;
                axios.get('../api/profile/getOrder')
                    .then(function (response) {
                        console.log(response.data);
                        app.orders = response.data;
                        app.orders.forEach((order) => {
                            switch(order.state) {
                                case 0:
                                    order.stateText = "Vygdoma";
                                    break;
                                case 1:
                                    order.stateText = "Vežama";
                                    break;
                                case 2:
                                    order.stateText = "Atvežta";
                                    break;
                                case 3:
                                    order.stateText = "Atšaukta";
                                    break;
                            }
                        });

                    })
            },
            passToModal(ids){
                app = this;
                this.fabrics = [] ;
                ids.forEach((id) => {
                    axios.get('../api/fabric/' + id)
                        .then(function(response){
                            app.fabrics.push(response.data);
                        })
                });
            },
            cancelOrder(orderToCancel){
                const app = this;
                app.$swal.fire({
                    type: 'warning',
                    title: 'Atšaukti užsakyma?',
                    text: "Užsakymo nebegalėsit susigražinti",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Patvirtinti',
                    cancelButtonText: 'Gryžti atgal',
                }).then((result) => {
                    if (result.value) {
                        axios.post('../api/profile/cancelOrder' , {
                            order : orderToCancel
                        })
                            .then(function(response){
                                app.$swal.fire({
                                    title: 'Atšaukta',
                                    text: "Užsakymas atšauktas",
                                    type: 'success',
                                });
                                console.log(response);
                                app.getOrders();
                            })
                            .catch(function (error) {
                                app.error = error;
                                if (error.response.status == 422){
                                    app.$swal.fire({
                                        text: "Prekė negalima atšaukti kai yra pristatyta ar atvežama",
                                        type: 'error',
                                    });
                                }
                            });

                    }
                })
            }
        },
        created() {
            this.getOrders();
        }
    }
</script>

<style scoped>

</style>
