<template>
    <div class="container">
        <div class="alert alert-warning text-center" role="alert" v-if="registerError == true"> Blogai suvesti duomenys (slaptazodis turi buti maziausiai is 3 simboliu, el.pastas turi nesikartoti)
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="closeAlert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card">
            <div class="card-header text-center font-weight-bold">
                Registracija
            </div>
            <div class="card-body">
                <form @submit.prevent="register" v-if="!success" method="post">
                    <small class="text-secondary">Jūsų Vardas</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="Vardas" type="text" name="name" id="name" title="" oninvalid="this.setCustomValidity('Prašau įveskite tinkama vardą')" oninput="setCustomValidity('')"
                               required v-model="name">
                    </div>
                    <small class="text-secondary">Jūsų Elektroninis paštas</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="El.Paštas" type="email"  title="" oninvalid="this.setCustomValidity('Prašau įveskite tinkama el-paštą')" oninput="setCustomValidity('')"
                               v-model="email" required>
                    </div>
                    <small class="text-secondary">Jūsų Slaptažodis</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="Slaptažodis" type="password"  title=""
                               id="password" oninvalid="this.setCustomValidity('Prašau įveskite slaptažodį')" oninput="setCustomValidity('')" v-model="password" required >
                    </div>
                    <small class="text-secondary">Pakartokit Slaptažodi</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="Slaptažodis" type="password"  title=""
                               id="password-confirm" oninvalid="this.setCustomValidity('Prašau pakartokite slaptažodį')" oninput="setCustomValidity('')" v-model="password_confirmation" required>
                    </div>
                    <small class="text-secondary">Jūsų Adresas</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="Adresas" type="text" name="address" id="address" title=""
                               required oninvalid="this.setCustomValidity('Prašau įveskite pristatymo adresą')" oninput="setCustomValidity('')" v-model="address">
                    </div>
                    <small class="text-secondary">Jūsų Telefonas</small>
                    <div class="form-group">
                        <input class="form-control shadow-none" placeholder="Telefonas" type="text" name="phone" id="phone" title=""
                               required oninvalid="this.setCustomValidity('Prašau įveskite telefono numerį')" oninput="setCustomValidity('')" v-model="phone">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-dark" type="submit"> Registruotis </button>
                    </div>
                    <div class="form-group text-center">
                        <a href="" class="text-secondary" type="submit">Turite profili ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Register",
        data: function(){
            return{
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                address: '',
                phone: '',
                has_error: false,
                registerError: false,
                error: '',
                errors: {},
                success: false
            }
        },
        methods: {
            register() {
                var app = this;
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        password_confirmation: app.password_confirmation,
                        address: app.address,
                        phone: app.phone
                    },
                    success: function () {
                        app.success = true;
                        this.$router.push({name: 'login', params: {successRegistrationRedirect: true}})
                    },
                    error: function (res) {
                        app.registerError = true;
                        console.log(res.response.data.errors);
                        app.has_error = true;
                        app.error = res.response.data.error;
                        app.errors = res.response.data.errors || {}
                    }
                })
            },
            closeAlert(){
                this.registerError = false;
            }
        }
    }
</script>

<style scoped>

    .card {
        width: 50%;
        margin: 0 auto;
        margin-top: 5%;
        float: none;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none !important;
    }
</style>
