<template>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Width</th>
                <th scope="col">Cost</th>
                <th scope="col">Meters Left</th>
                <th scope="col">Color</th>
                <th scope="col">Composition</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="fabric in filteredFabric">
                <td>{{fabric.id}}</td>
                <td><img :src="getPic(fabric)" class="" alt="..."></td>
                <td>{{fabric.name}}</td>
                <td>{{fabric.type}}</td>
                <td>{{fabric.width}} </td>
                <td>{{fabric.cost}}</td>
                <td>{{fabric.meters_left}}</td>
                <td>{{fabric.color}}</td>
                <td>
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            composition
                        </button>
                        <div class="dropdown-menu">
                            {{fabric.composition}}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary mb-2" type="button" data-toggle="modal" data-target="#fabricModal" @click="onClickChildHandleItem(fabric)">Update</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger mb-2" type="button" @click="onClickDelete(fabric.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
        name: "FabricTable",
        props: ['filteredFabric'],
        methods: {
            onClickChildHandleItem(user){
                this.$emit('passData', user );
            },
            onClickDelete(id){
                this.$emit('passId', id);
            },
            getPic($item) {
                return '/images/' + $item['photo'];
            },
            commentApears(){

            }
        }
    }
</script>

<style scoped>
    img {
        height: 50px;
        width: 50px;
    }
    .dropdown-menu{
        padding: 20px;
    }
</style>
