<template>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Order date</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Quantity</th>
                <th scope="col">State</th>
                <th scope="col">Total Price</th>
                <th scope="col">User</th>
                <th scope="col">Actions</th>
                <th scope="col">Delivery</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="order in filteredOrders">
                <td>{{order.orderDate}}</td>
                <td>{{order.deliveryDate}}</td>
                <td>{{order.quantity}} </td>
                <td>{{order.state}}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.user}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#productsModal" @click="onClickChildHandleItem(order)">Update</button>
                    </div>
                </td>
                <td>
                    <button class="btn btn-success " v-if="order.state != 2 || order.state != 3" @click="onClickConfirmDelivery(order)">Confirm</button>
                    <button class="btn btn-success " disabled  v-else>Confirm</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "GroupedOrdersTable",
        props: ['filteredOrders'],
        methods:{
            onClickChildHandleItem(order){
                this.$emit('passData', order );
            },
            onClickDelete(id){
                this.$emit('passId', id);
            },
            onClickConfirmDelivery(order){
                this.$emit('passOrderDelivery' , order);
            }
        }
    }
</script>

<style scoped>

</style>
