<template>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Order date</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Meters</th>
                <th scope="col">Price</th>
                <th scope="col">User</th>
                <th scope="col">Fabric</th>
                <th scope="col">Shipper</th>
                <th scope="col">Actions</th>
                <th scope="col">Confirm shipment</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="order in filteredOrders">
                <td>{{order.id}}</td>
                <td>{{order.order_date}}</td>
                <td>{{order.delivery_date}}</td>
                <td>{{order.meters}} </td>
                <td>{{order.price}}</td>
                <td>{{order.user_id}}</td>
                <td>{{order.fabric_id}}</td>
                <td>{{order.shipper_id}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#orderModal" @click="onClickChildHandleItem(order)">Update</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger mb-2" @click="onClickDelete(order.id)">Delete</button>
                    </div>
                </td>
                <td>
                    <button class="btn btn-success " v-if="order.state == 0 || order.state == 1" @click="onClickConfirmDelivery(order)">Confirm</button>
                    <button class="btn btn-success " disabled  v-else>Confirm</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "OrderTable",
        props: ['filteredOrders'],
        methods:{
            onClickChildHandleItem(order){
                this.$emit('passData', order );
            },
            onClickDelete(id){
                this.$emit('passId', id);
            },
            onClickConfirmDelivery(order){
                this.$emit('passOrderDelivery' , order);
            }
        }
    }
</script>

<style scoped>

</style>
