<template>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Phone number</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="shipper in filteredShipper">
                <td>{{shipper.id}}</td>
                <td>{{shipper.name}}</td>
                <td>{{shipper.surname}}</td>
                <td>{{shipper.phone}} </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary mb-2" type="button" data-toggle="modal" data-target="#shipperModal" @click="onClickChildHandleItem(shipper)">Update</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger mb-2" type="button" @click="onClickDelete(shipper.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ShipperTable",
        props: ['filteredShipper'],
        methods: {
            onClickChildHandleItem(shipper){
                this.$emit('passData', shipper );
            },
            onClickDelete(id){
                this.$emit('passId', id);
            }
        }
    }
</script>

<style scoped>

</style>
