<template>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="user in filteredUsers">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}} </td>
                <td>{{user.phone}}</td>
                <td>{{user.role}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary mb-2" type="button" data-toggle="modal" data-target="#userModal" @click="onClickChildHandleItem(user)">Update</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger mb-2" type="button" @click="onClickDelete(user.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "UserTable",
        props: ['filteredUsers'],
        methods: {
            onClickChildHandleItem(user){
                this.$emit('passData', user );
            },
            onClickDelete(id){
                this.$emit('passId', id);
            }
        }
    }
</script>

<style scoped>

</style>
